/* You can add global styles to this file, and also import other style files */
.grid-table
{
	display:table;
}
.thead
{
	display:table-header-group;
	font-weight:bold;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #61c5b4;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;

}
.td
{
	display:table-cell;
	padding: 10px 1px 1px 5px;
}
.thead div.tr div.td:last-child{
    background-color:rgb(255, 255, 255);
}
button{
  margin: 3px 3px;
}
.add{
  padding: 30px 3px 3px 15px;
  margin: 3px 3px 3px 15px;
}
