/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(238, 237, 237);
}
.thead
{
	display:table-header-group;
	font-weight:bold;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #1a1a1a;
  color: azure;
}
.tbody
{
	display:table-row-group;
}
.tr
{
	display:table-row;

}
.td
{
	display:table-cell;
	padding: 10px 1px 1px 5px;
}
button{
  margin: 5px 5px;
}
.header{
  background-color: rgb(0, 6, 88);
}
h2{
  color: rgb(255, 255, 255);
}
i{
  color: rgb(255, 255, 255);
}
